$white: #fff;
$dark: #222831;
$dark-blue: #30475e;
$smoke-white: #dddddd;
$black:rgba(0, 0, 0, 0.5);
$turn-x: linear-gradient(to right, #29c4cf 0%, #cf3a62 99%);
$turn-y: linear-gradient(to right, #121fcf 0%, #17cf79 65%);