@import "normalize", "reset","variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: $black;
}

.tic-tac-toe {
  padding: 1rem;
  background: $smoke-white;
  border-radius: 0.5rem;
}

.message,
.restart-button {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $white;
  font-size: 5rem;
  transform: translate(-50%, -50%);
}

.restart-button {
  top: 60%;
  padding: 1rem;
  cursor: pointer;
  background-color: $dark-blue;
  
  &:hover {
    color: $dark-blue;
    background-color: $white;
  }
}

.header {
  .info-head {
    display: flex;
    border-radius: 0.7rem;
    justify-content: space-between;
  }
}

.info-panel, .header {
  margin-bottom: .5rem;
}

.info-head {
  padding: 0.5rem;
  font-size: 2rem;
  background: $dark-blue;
  border-radius: 1rem 1rem 0 0;
}

.info-main {
  display: grid;
  padding: 0.5rem;
  background-color: $dark;
  border-radius: 0 0 1rem 1rem;
  justify-content: space-between;
  grid-template-areas: "score . turn";

  .score {
    grid-area: score;

    .score-number {
      font-size: unset;
    }

    .score-text {
      display: flex;
      padding-bottom: 0.5rem;
      margin: 0.5rem 0.5rem 0 0;
      justify-content: space-between;
    }
  }

  .player-turn {
    grid-area: turn;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 2rem 0.5rem;
    margin: 0.5rem 0.5rem 0 0;
    background-color: $dark-blue;
  }
}

.board-wrapper {
  display: grid;
  grid-gap: 2px;
  padding: 0.5rem;
  font-size: 10rem;
  border-radius: 1rem;
  background-color: $dark;
  grid-template-columns: repeat(3, auto);
}

.cell {
  display: grid;
  text-align: center;
  align-content: center;
  width: 10rem;
  height: 10rem;
  color: $smoke-white;
  background-color: $dark-blue;
}

.turn-x {
  background: $turn-x;
}

.turn-y {
  background: $turn-y;
}